<div class="div-spinner" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<mat-card>
<mat-card-header>
    <mat-card-title>Users</mat-card-title>
    <mat-card-subtitle>System users</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field>
          <input matInput #fitler placeholder="Name" autofocus>
        </mat-form-field>

<div class="container mat-elevation-z8">
    
    <table mat-table class="full-width-table" matSort aria-label="Elements" matSortActive="updated" matSortDirection="desc">

      <!-- group Column -->
      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef>Group</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/groups/{{row.group.id}}">{{row.group.name}}</a>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/users/{{row.id}}">{{row.name}}</a>
        </td>
      </ng-container>     

      <!-- surname Column -->
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
        <td mat-cell *matCellDef="let row">{{row.surname}}</td>
      </ng-container>     

      <!-- Updated Column -->
      <ng-container matColumnDef="updated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated</th>
          <td mat-cell *matCellDef="let row">{{row.updated | date:'dd-MM-yyyy - HH:mm:ss':'UTC'}}</td>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="saveDialog()">
            <mat-icon aria-label="Add">add</mat-icon>
          </button>
        </th>

        <td mat-cell *matCellDef="let row;">
          <button mat-icon-button (click)="saveDialog(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

          <button mat-icon-button (click)="delete(row)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>
    

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        [length]="(dataSource.page$ | async)?.total"
        [pageIndex]="0"
        [pageSize]="20"
        [pageSizeOptions]="[1, 5, 10, 20, 50]"
        showFirstLastButtons>
    </mat-paginator>
  </div>
  </mat-card-content>
</mat-card>