<div class="div-spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="dialogo">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    Id: {{data.id}}
    <p></p>
    Name: {{data.name}}
    <p></p>
    Surname: {{data.surname}}
    <p></p>
    Updated: {{data.updated | date:'dd-MM-yyyy - HH:mm:ss':'UTC'}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <!--<button mat-button (click)="confirmDelete()">Delete</button>-->
    <button mat-button (click)="onNoClick()">Delete</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
