.dialogo {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.dialogo-xs {
  display: flex;
  flex-direction: column;
  min-width: 0px;
}

.dialogo > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
