<div class="div-spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="dialogo"  [ngClass.xs]="'dialogo-xs'" >
  <h3 mat-dialog-title *ngIf="!group.id" >Add new Group</h3>
  <h3 mat-dialog-title *ngIf="group.id" >Edit Group {{group.id}}</h3>

  <form class="" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="group.name" name="name" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="Description" [(ngModel)]="group.description" name="description" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
