<div class="div-spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="dialogo"  [ngClass.xs]="'dialogo-xs'" >
  <h3 mat-dialog-title *ngIf="!user.id" >Add new User</h3>
  <h3 mat-dialog-title *ngIf="user.id" >Edit User {{user.id}}</h3>

  <form class="" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="user.name" name="name" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput #input class="form-control" placeholder="Surname" [(ngModel)]="user.surname" name="surname" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field>
        <input matInput #inputstate class="form-control" [matDatepicker]="picker"  placeholder="Birthdate" [(ngModel)]="user.birthdate" name="birthdate" required >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width">
      <mat-select #inputstate class="form-control" placeholder="Group" (selectionChange)="onChange($event.value)" [(ngModel)]="selected" name="group" required >
        <mat-option *ngFor="let group of groups" [value]="group.id">
          {{ group.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
