.sidenav-container {
  height: 100%;
}

.container{
  overflow-x: auto;
}


.sidenav {
  width: 200px;
  border: 0px;
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar a {
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
}

mat-toolbar a:hover, mat-toolbar a:active {
  color: lightgray;
}


.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  padding-right: 25px;
  width: 85%;
}