<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" *ngIf="isHandset$ | async"><a routerLink="/" (click)="drawer.toggle()">Galacay</a></mat-toolbar>
    <mat-toolbar color="primary" *ngIf="(isHandset$ | async) === false"><a routerLink="/">Galacay</a></mat-toolbar>
    <mat-nav-list *ngIf="isHandset$ | async">

        <a mat-list-item routerLink="/users" (click)="drawer.toggle()">
          <mat-icon>person</mat-icon>
          <span>Users</span>
        </a>

        <a mat-list-item routerLink="/groups" (click)="drawer.toggle()">
          <mat-icon>people</mat-icon>
          <span>Groups</span>
        </a>

        <a mat-list-item routerLink="/dashboard" (click)="drawer.toggle()">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>

        <a mat-list-item routerLink="/drag" (click)="drawer.toggle()">
          <mat-icon>devices</mat-icon>
          <span>Devices</span>
        </a>

        <a mat-list-item routerLink="/add-form" (click)="drawer.toggle()">
          <mat-icon>add</mat-icon>
          <span>Add</span>
        </a>
        
    </mat-nav-list>
    <mat-nav-list *ngIf="(isHandset$ | async) === false">

        <a mat-list-item routerLink="/users">
          <mat-icon>person</mat-icon>
          <span>Users</span>
        </a>

        <a mat-list-item routerLink="/groups">
          <mat-icon>people</mat-icon>
          <span>Groups</span>
        </a>

        <a mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>

        <a mat-list-item routerLink="/drag">
          <mat-icon>devices</mat-icon>
          <span>Devices</span>
        </a>

        <a mat-list-item routerLink="/add-form">
          <mat-icon>add</mat-icon>
          <span>Add</span>
        </a>

      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-fill-remaining-space"></span>

      <div *ngIf="isHandset$ | async">
          <a routerLink="/users"><mat-icon class="icon">person</mat-icon></a>  
          <a routerLink="/users"><mat-icon class="icon">people</mat-icon></a>  
          <a routerLink="/users"><mat-icon class="icon">dashboard</mat-icon></a>  
          <a routerLink="/users"><mat-icon class="icon">devices</mat-icon></a>
      </div>

      <div *ngIf="(isHandset$ | async) === false">         
          <a routerLink="/users">
            <mat-icon class="icon">person</mat-icon>
            <span class="label">Users</span>
          </a>  
          <a routerLink="/groups">
            <mat-icon class="icon">people</mat-icon>
            <span class="label">Users</span>
          </a>  
          <a routerLink="/users">
            <mat-icon class="icon">dashboard</mat-icon>
            <span class="label">Dashboard</span>
          </a>  
          <a routerLink="/users">
            <mat-icon class="icon">devices</mat-icon>
            <span class="label">Devices</span>
          </a>
      </div>

    </mat-toolbar>
    <div class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'" >
      <router-outlet></router-outlet>
    </div>
      
  </mat-sidenav-content>

</mat-sidenav-container>
