<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" *ngIf="isHandset$ | async"><a routerLink="/" (click)="drawer.toggle()">Galacay</a></mat-toolbar>
    <mat-toolbar color="primary" *ngIf="(isHandset$ | async) === false"><a routerLink="/">Galacay</a></mat-toolbar>
    <mat-nav-list *ngIf="isHandset$ | async">
      <a mat-list-item routerLink="/users" (click)="drawer.toggle()">Users</a>
      <a mat-list-item routerLink="/users" (click)="drawer.toggle()">Users</a>
      <a mat-list-item routerLink="/users" (click)="drawer.toggle()">Users</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="(isHandset$ | async) === false">
        <a mat-list-item routerLink="/users">Users</a>
        <a mat-list-item routerLink="/users">Users</a>
        <a mat-list-item routerLink="/users">Users</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Posts</span>
      <mat-toolbar color="primary">
      
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>       
        <a routerLink="/dashboard">
          <mat-icon class="icon">input</mat-icon>
          <span  class="label">&nbsp;Login</span>
         </a>    
        <a routerLink="/dashboard">
            <mat-icon class="icon">home</mat-icon>
            <span class="label">&nbsp;Home</span>
        </a>    
        <a routerLink="/dashboard">
            <mat-icon class="icon">dashboard</mat-icon>
            <span class="label">Dashboard</span>
        </a>      
        <a routerLink="/dashboard">
          <mat-icon class="icon">input</mat-icon>
          <span class="label">LogOut</span>
         </a>
      </mat-toolbar>
    </mat-toolbar>

    <mat-card>
      <router-outlet></router-outlet>
      </mat-card>
      
  </mat-sidenav-content>

</mat-sidenav-container>
