/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  overflow-x: auto;
  overflow-y: hidden;
}

.components-container-gt-xs {
  padding: 20px;
}
.components-container-xs {
  padding: 5px !important;
  // background-color: #fdfdfd;
}

.div-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
